*{
    margin: 0;
    padding: 0;
}

.top img{
    height: auto;
    width: 150px;
}
li{
    list-style-type: none;
}
#side{
    margin-left: 20px;
}
video{
    height: 280px;
}

a{
    color: #666666;
    text-decoration: none;
}